<body class="bg-rose">
    <%- include("./dash.nav.ejs") %>
    <%- include("./dash.bar.ejs") %>
    <main class="min-wide row top-align">
        <% if (tournament) { %>
            <div class="bg-white padding column no-gap small-pane" aria-live="polite">
                <img src="/images/<%= tournament.badge %>" alt="<%= tournament.name %> Logo" class="xl-logo">
                <h3 class="mid bold cap info" id="tournament"><%= tournament.name %></h3>
                <hr class="divider">
                <section class="column">
                    <small>
                        <strong>Host:</strong>
                        <span class="info" id="host"><%= tournament.host %></span>
                    </small>
                    <small>
                        <strong>Start Date:</strong>
                        <span class="info" id="start"><%= tournament.start %></span>
                    </small>
                    <small>
                        <strong>End Date:</strong>
                        <span class="info" id="end"><%= tournament.end %></span>
                    </small>
                    <small>
                        <strong>Winner:</strong>
                        <span class="info" id="winner"><%= tournament.winner %></span>
                    </small>
                    <small>
                        <strong>Runner-up:</strong>
                        <span class="info" id="runner_up"><%= tournament.runner_up %></span>
                    </small>
                    <small>
                        <strong>Third-place:</strong>
                        <span class="info" id="third_place"><%= tournament.third_place %></span>
                    </small>
                    <small style="visibility: hidden;">
                        <span class="info" id="tournament_id"><%= tournament.id %></span>
                    </small>
                </section>
                <hr class="divider">
                <small id="message" aria-live="assertive" class="tiny error"></small>
                <button id="edittournament" class="link-btn">
                    <i class="fa fa-pen"></i>
                    Update Info
                </button>
            </div>
        <% } else { %>
            <div class="bg-white padding column no-gap" aria-live="polite">
                <h3 class="large info">Tournament Not Found</h3>
                <small class="tiny error"><%= msg %></small>
            </div>
        <% } %>

        <div class="small-main bg-white min-high">
            <nav class="column small-padding border-bottom">
                <div class="row border-bottom padding-bottom">
                    <h4 class="mid bold"><%= tournament ? tournament.name : 'No Tournament' %></h4>
                    <%- include("./team.dialog.ejs") %>
                    <%- include("./fixtures.dialog.ejs") %>
                </div>
                <div class="row">
                    <button class="small-chip active" data-tab="matches">Matches</button>
                    <button class="small-chip" data-tab="teams">Teams</button>
                    <button class="small-chip" data-tab="groups">Groups</button>
                </div>
            </nav>
            <small id="msg"></small>
            <section class="column small-padding" data-content="tournament">
                content
            </section>
        </div>
        <!-- <div class="">pane</div> -->
    </main>
    <%- include("./dash.foot.ejs") %>
    <script type="module" src="/javascripts/tournaments.info.js"></script>
    <script type="module" src="/javascripts/creators/teams.create.js"></script>
</body>
