<%- include("./partial/head") %>
<%- include("./partial/top-nav") %>

<div class="container bg-white"> 
    <p class="align-center">Liberia - Orange First Division League</p><br>
    <div class="center-align row big-left">
        <div class="float-left bg-white border match-logo">
            <img src="<%= home_team_logo %>" alt="" class="center">
            <p class="padding align-center"><%= home_team_name %></p>
        </div>
        <div>
            <p class="margin-top"><%= match_date %> <%= match_time %></p>
            <p class="center margin-top" style="font-size: 48px;"><%= home_team_score %> - <%= away_team_score %></p>
        </div>
        <div class="bg-white border match-logo">
            <img src="<%= away_team_logo %>" alt="" class="center">
            <p class="padding align-center"><%= away_team_name %></p>
        </div>
    </div>

    <div class="container margin-top big-top">
        <section class="row margin-bottom" id="summary">
            <a href="#summary" class="chip active">SUMMARY</a>
            <a href="#lineups" class="chip">LINEUPS</a>
        </section>
        
        <div class="row margin-right">
            <div class="home-team move-left">
                <% home_team_events.forEach(event => { %>
                    <p class="row margin-bottom">
                        <span class="timer center-align"><%= event.minute %>'</span>
                        <img src="<%= event.type === 'sub' ? '/images/sub.jfif' : '/images/yellow_card.png' %>" alt="" class="sm-logo">
                        <%= event.player %> <span class="gray"><%= event.assist ? ' ' + event.assist : '' %></span>
                    </p>
                <% }); %>
            </div>   
            
            <div class="away-team">
                <% away_team_events.forEach(event => { %>
                    <p class="row margin-bottom">
                        <span class="timer center-align"><%= event.minute %>'</span>
                        <img src="<%= event.type === 'sub' ? '/images/sub.jfif' : '/images/yellow_card.png' %>" alt="" class="sm-logo">
                        <%= event.player %>
                    </p>
                <% }); %>
            </div>
        </div>

        <div class="margin-right big-top">
            <p class="row between">Venue: <span class="move-right"><%= venue %></span></p>
            <p class="row between">Capacity: <span class="move-right"><%= capacity || 'N/A' %></span></p>
        </div>
        
        <section class="row margin-bottom big-top" id="lineups">
            <a href="#summary" class="chip">SUMMARY</a>
            <a href="#lineups" class="chip active">LINEUPS</a>
        </section>
        <p class="align-center bold bg-gray margin-right small-round margin-bottom">STARTING LINEUPS</p>
        
        <div class="row margin-right">
            <div class="home-team move-left">
                <% home_lineup.forEach(player => { %>
                    <p><%= player.jersey_number %>. <%= player.fullname %> - <%= player.position %></p>
                <% }); %>
            </div>

            <div class="away-team">
                <% away_lineup.forEach(player => { %>
                    <p><%= player.jersey_number %>. <%= player.fullname %> - <%= player.position %></p>
                <% }); %>
            </div>
        </div>
        
        <p class="align-center bold bg-gray margin-right small-round margin-bottom margin-top">SUBSTITUTES</p>
        
        <div class="row margin-right">
            <div class="home-team move-left">
                <% home_substitutes.forEach(player => { %>
                    <p><%= player.jersey_number %>. <%= player.fullname %></p>
                <% }); %>
            </div>

            <div class="away-team">
                <% away_substitutes.forEach(player => { %>
                    <p><%= player.jersey_number %>. <%= player.fullname %></p>
                <% }); %>
            </div>
        </div>
    </div>
</div>
