<%- include("./partial/head") %>

<body class="no-overflow">
    <%- include("./partial/top-nav.ejs") %>
    <div class="container row constraint">
        <%- include("./partial/sidebar") %>
        <div class="column full max">
            <%- include("./partial/league-header") %>
            <%- include("./partial/league-tabs") %>

            <div id="container" class="league-container column spacing">
            <center id="loader"><div class="margin loader" ></div></center>
            </div>
            
        </div>
    </div>
</body>
<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/results.js"></script>
<script type="module" src="/javascripts/county-meet.js"></script>
