<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <%- include("./partial/sidebar") %>
    <div class="column full max">
        <%- include("./partial/league-header") %>
        <%- include("./partial/league-tabs") %>
       
    <section class="bg-white  mid-round small-padding">
        <h4 class="large align-center margin-bottom">Group A</h4>
        <table class="table">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">#</th>
                    <th class="first th left cap">Team</th>
                    <th class="th">GP</th>
                    <th class="th">W</th>
                    <th class="th">D</th>
                    <th class="th">L</th>
                    <th class="th cap">Goals</th>
                    <th class="th">PTS</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr class="tr lead">
                    <td class="td">1</td>
                    <td class="first wide td row">
                        <img src="/images/bong_logo.png" alt="" class="tiny-logo">
                        <span>Bong County</span>
                    </td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0:0</td>
                    <td class="td">0</td>
                </tr>
                <tr class="tr">
                    <td class="td">2</td>
                    <td class="first wide td row">
                        <img src="/images/nimba_logo.png" alt="" class="tiny-logo">
                        <span>Nimba County</span>
                    </td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0:0</td>
                    <td class="td">0</td>
                </tr>
                <tr class="tr">
                    <td class="td">3</td>
                    <td class="first wide td row">
                        <img src="/images/lofa_logo.png" alt="" class="tiny-logo">
                        <span>Lofa County</span>
                    </td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0:0</td>
                    <td class="td">0</td>
                </tr>
                <tr class="tr dead">
                    <td class="td">4</td>
                    <td class="first wide td row">
                        <img src="/images/maryland_logo.png" alt="" class="tiny-logo">
                        <span>Maryland County</span>
                    </td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0</td>
                    <td class="td">0:0</td>
                    <td class="td">0</td>
                </tr>
            </tbody>
        </table>
    </section>


    </div>
</div>

<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/standings.js"></script>