<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <%- include("./partial/sidebar") %>
    <div class="column full max">
        <%- include("./partial/league-header") %>
        <%- include("./partial/league-tabs") %>
       
    <table>
        <thead>
            <tr>
                <th class="first">Team</th>
                <th>GP</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>G/A</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="first">Fassell FC</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="first">Paynesville FC</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="first">Freeport FC</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="first">Watanga FC</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/leagues.js"></script>