<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <%- include("./partial/sidebar") %>
    <div class="column full max">
        <%- include("./partial/league-header") %>
        <%- include("./partial/league-tabs") %>
       
    <table class="table">
        <thead class="thead">
            <tr class="tr">
                <th class="first th">Team</th>
                <th class="th">GP</th>
                <th class="th">W</th>
                <th class="th">D</th>
                <th class="th">L</th>
                <th class="th">G/A</th>
                <th class="th">PTS</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr">
                <td class="first td">Fassell FC</td>
                <td class="td">0</td>
                <td class="td">0</td>
                <td class="td">0</td>
                <td class="td">0</td>
                <td class="td">0</td>
                <td class="td">0</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/leagues.js"></script>