<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <%- include("./partial/sidebar") %>
    <div class="column full max">
        <%- include("./partial/league-header") %>
        <%- include("./partial/league-tabs") %>
       
    <section class="bg-white  mid-round small-padding">
        <table class="table">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">#</th>
                    <th class="first th left cap">Team</th>
                    <th class="th">GP</th>
                    <th class="th">W</th>
                    <th class="th">D</th>
                    <th class="th">L</th>
                    <th class="th cap">Goals</th>
                    <th class="th">PTS</th>
                </tr>
            </thead>
            <tbody class="tbody" id="tbody">
            </tbody>
        </table>
        <section class="row margin">
            <span class="dash green"> Winner</span>
            <span class="dash red"> Relegated</span>
        </section>
    </section>


    </div>
</div>

<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/standings.js"></script>