
<section class="row padding-top padding-bottom">
    <a class="chip <%= tab == 'results' ? 'active' : '' %>" href="/<%= page %>?tab=results">Results</a>
    <a  class="chip <%= tab == 'fixtures' ? 'active' : '' %>" href="/<%= page %>?tab=fixtures">Fixtures</a>
    <a class="chip <%= tab == 'standings' ? 'active' : '' %>" href="/<%= page %>?tab=standings">Standings</a>
    <% if (league == "cm") { %>
    <a class="chip <%= tab == 'statistics' ? 'active' : '' %>" href="/<%= page %>?tab=statistics">Statistics</a>
    <% } %>
 
</section>