<section class="tab-container row">
    <a class="chip <%= league == '/' ? 'active' : '' %>" href="/">All</a>
    <a class="chip <%= league == 'live' ? 'active' : '' %>" href="/live">Live</a>
    <a class="chip <%= league == 'results' ? 'active' : '' %>" href="/results">Results</a>
    <a class="chip <%= league == 'fixtures' ? 'active' : '' %>" href="/fixtures">Fixtures</a>
    <input class="chip move-right no-border <%= league == 'live' ? 'none' : '' %>" type="date"> 
</section>